<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.2.xsd">

	<http use-expressions="true" auto-config="true">
	
		<intercept-url pattern="/resources/**" access="permitAll"/>
		<intercept-url pattern="/login" access="permitAll"/>
		
		<intercept-url pattern="/**" access="isAuthenticated()" />
		<intercept-url pattern="/cadastro" access="hasAnyRole('ROLE_USUARIO', 'ROLE_ADMIN')" />
		<intercept-url pattern="/relatorio" access="hasAnyRole('ROLE_ADMIN')" />
		
		<form-login 
		    login-page="/login" 
			authentication-failure-handler-ref="erroAutenticacao"
			authentication-success-handler-ref="sucessoAutenticacao" />
		<logout logout-success-url="/login" />
		
		<session-management>
		    <concurrency-control
		       max-sessions="1"
		       expired-url="/login" />
		</session-management>
	</http>

	<beans:bean id="autenticacaoPersonalizada"
        class="br.com.tcc.security.AutenticacaoPersonalizada" />
        
    <beans:bean id="sucessoAutenticacao"
        class="br.com.tcc.security.SucessoAutenticacao" />
        
    <beans:bean id="erroAutenticacao"
        class="br.com.tcc.security.ErroAutenticacao" />  
	
	<authentication-manager erase-credentials="false">
	    <authentication-provider ref="autenticacaoPersonalizada"/>
	</authentication-manager>

</beans:beans>